{% extends 'layout.twig' %}

{% block head %}
  <link rel="stylesheet" href="/css/addUpdateContact.css">
  <script src="/js/searchContacts.js" defer></script>
{% endblock %}

{% block body %}
<div class="add-contact-form">
    <h2>Add contact</h2>
    <form action="/contacts/create" method="POST">
        <label for="FullName">Full Name</label>
        <input type="text" id="FullName" name="FullName" placeholder="Add a full name"/>
        <label for="Phone">Phone</label>
        <input type="number" id="Phone" name="Phone" placeholder="Add a phone number"/>
        <input type="submit" value="Add"/>
        <a href="/contacts" class="cancel-link">Cancel</a>
    </form>
</div>
{% endblock %}