<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/layout.css">
    <header>
      <a class="home" id="home" href="/contacts">Home</a>
      <a class="add" id="add" href="/contacts/create">Add Contact</a>
    </header>
    {% block head %}{% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>